# Dataset final
El objetivo de este notebook es crear el dataset de **productos.csv** el cual contendrá una categorización de los productos/negocios en cada una de las colonias prioritarias. Recordemos que para este punto, **microempresas_clean.csv** ya contiene los negocios de la CDMX que solicitaron apoyo financiero únicamente en las colonias prioritarias.

In [435]:
import pandas as pd
data_path = '../../data/'

In [436]:
alcaldias_df = pd.read_csv(data_path + 'alcaldias_eci.csv')
negocios_df = pd.read_csv(data_path + 'microempresas_clean.csv')
colonias_df = pd.read_csv(data_path + 'colonias_prioritarias_clean.csv')

In [437]:
alcaldias_df.head()

                alcaldia       eci
0             cuauhtemoc  3.471986
1    venustiano carranza  2.501312
2           azcapotzalco  3.865509
3               coyoacan  2.800526
4  cuajimalpa de morelos  3.854617

In [438]:
negocios_df.head()

,ocupacion,alcaldia,c_p,colonia,giro,num_empleados
0,tiendas de ropa,alvaro obregon,1260,calzada jalalpa,tiendas de ropa,3
1,tiendas de abarrotes,alvaro obregon,1780,olivar de los padres,tiendas de abarrotes,0
2,tiendas de abarrotes,alvaro obregon,1780,olivar de los padres,tiendas de abarrotes,3
3,tiendas de abarrotes,alvaro obregon,1780,olivar de los padres,tiendas de abarrotes,0
4,venta de zapatos y productos de belleza,alvaro obregon,1290,presidentes,venta de zapatos y productos de belleza,0

In [439]:
colonias_df.head()

,alcaldia,colonia,casos_activos,poblacion_total,porcentaje_activos,cp
0,alvaro obregon,barrio norte,57,14367.414210,0.2562,1410
1,alvaro obregon,jalalpa el grande,47,10972.245610,0.2112,1377
2,alvaro obregon,jardines del pedregal,39,13817.000000,0.1753,1900
3,alvaro obregon,merced gomez,48,6992.834615,0.2157,1600
4,alvaro obregon,olivar del conde 2da seccion ii,37,8191.441839,0.1663,1408

## Tomando los negocios en las alcaldias con top 3 ECI

In [440]:
top = 3
best_alcaldias_eci_df = alcaldias_df.sort_values(by='eci')[::-1].head(top)
best_alcaldias = list(best_alcaldias_eci_df.alcaldia)
negocios_mh_df = negocios_df[negocios_df.alcaldia.isin(best_alcaldias)]
print(best_alcaldias)

['miguel hidalgo', 'azcapotzalco', 'cuajimalpa de morelos']

In [441]:
print(len(list(negocios_mh_df.colonia.unique())))
print(len(list(negocios_mh_df.ocupacion)))

13
353

In [464]:
categoria_productos_df = pd.read_csv(data_path + 'cat.csv')
categoria_productos_df.categoria = categoria_productos_df.categoria.str.lower()
categoria_productos_df.head()

  categoria            negocio
0    comida   tiendasabarrotes
1    comida           verduras
2    comida           cremeria
3    comida   casa_expendiopan
4    comida          abarrotes

In [496]:
negocios_ = list(categoria_productos_df.iloc[:, 1])
categorias_ = list(categoria_productos_df.iloc[:, 0])
cat_prod_dict = dict(zip(negocios_, categorias_))

In [ ]:
categorias = []
negocios = []
for _, row in negocios_df.iterrows():