In [1]:
import pandas as pd
import numpy as np
data_path = '../data/'

In [2]:
alcaldias_df = pd.read_csv(data_path + 'alcaldias_eci.csv')
colonias_df = pd.read_csv(data_path + 'colonias_prioritarias_clean.csv')

In [3]:
alcaldias_df

                  alcaldia       eci
0               cuauhtemoc  3.471986
1      venustiano carranza  2.501312
2             azcapotzalco  3.865509
3                 coyoacan  2.800526
4    cuajimalpa de morelos  3.854617
5        gustavo a. madero  2.680508
6                iztacalco  2.944861
7               iztapalapa  2.629184
8   la magdalena contreras  1.623270
9               milpa alta  0.343307
10          alvaro obregon  3.818013
11                 tlahuac  1.632037
12                 tlalpan  2.426480
13              xochimilco  1.213572
14           benito juarez  3.778215
15          miguel hidalgo  4.152792

In [4]:
colonias_df

,alcaldia,colonia,casos_activos,poblacion_total,porcentaje_activos
0,alvaro obregon,barrio norte,57,14367.414210,0.2562
1,alvaro obregon,jalalpa el grande,47,10972.245610,0.2112
2,alvaro obregon,jardines del pedregal,39,13817.000000,0.1753
3,alvaro obregon,merced gomez,48,6992.834615,0.2157
4,alvaro obregon,olivar del conde 2da seccion ii,37,8191.441839,0.1663
...,...,...,...,...,...
195,xochimilco,santa cruz xochitepec (pblo),52,12078.070950,0.2337
196,xochimilco,santa maria tepepan (pblo),28,15438.743990,0.1258
197,xochimilco,san mateo xalpa (pblo),40,12343.582870,0.1798
198,xochimilco,santa cecilia tepetlapa (pblo),39,12066.956920,0.1753
199,xochimilco,tepepan (ampl),29,7505.606512,0.1303

In [5]:
seen = set()
repeated = []
for col in list(colonias_df.colonia):
    if col in seen:
        repeated.append(col)
        continue
    seen.add(col)
repeated

['morelos ii', 'miguel hidalgo']

In [6]:
colonias_df[colonias_df.colonia.isin(repeated)]

,alcaldia,colonia,casos_activos,poblacion_total,porcentaje_activos
54,tlalpan,miguel hidalgo,65,13276.78689,0.2921
63,venustiano carranza,morelos ii,38,17867.00000,0.1708
158,cuauhtemoc,morelos ii,18,12171.00000,0.0809
182,tlahuac,miguel hidalgo,43,13122.58258,0.1933

In [7]:
colonias_df.loc[54, 'colonia'] = 'miguel hidalgo - tlal'
colonias_df.loc[63, 'colonia'] = 'morelos ii - vc'
colonias_df.loc[158, 'colonia'] = 'morelos ii - cu'
colonias_df.loc[182, 'colonia'] = 'miguel hidalgo - tlah'

In [8]:
colonias_df['cp'] = np.nan

In [9]:
colonias_df.head()

,alcaldia,colonia,casos_activos,poblacion_total,porcentaje_activos,cp
0,alvaro obregon,barrio norte,57,14367.414210,0.2562,NaN
1,alvaro obregon,jalalpa el grande,47,10972.245610,0.2112,NaN
2,alvaro obregon,jardines del pedregal,39,13817.000000,0.1753,NaN
3,alvaro obregon,merced gomez,48,6992.834615,0.2157,NaN
4,alvaro obregon,olivar del conde 2da seccion ii,37,8191.441839,0.1663,NaN

In [10]:
cp_df = pd.read_csv(data_path + 'codigos_postales.csv')
cp_df.head()

,CP,Estado,Municipio,Tipo de Asentamiento,Asentamiento,Clave de Oficina
0,9830,Ciudad de MÃ©xico,Iztapalapa,Colonia,Paraje San Juan,9821
1,9837,Ciudad de MÃ©xico,Iztapalapa,Colonia,San Miguel 8va. AmpliaciÃ³n,9821
2,9838,Ciudad de MÃ©xico,Iztapalapa,Colonia,Plan de Iguala,9821
3,9839,Ciudad de MÃ©xico,Iztapalapa,Colonia,AmpliaciÃ³n Paraje San Juan,9821
4,9839,Ciudad de MÃ©xico,Iztapalapa,Colonia,San Juan Joya,9821

In [11]:
cp_df.Asentamiento = cp_df.Asentamiento.str.lower()
cp_df.head()

,CP,Estado,Municipio,Tipo de Asentamiento,Asentamiento,Clave de Oficina
0,9830,Ciudad de MÃ©xico,Iztapalapa,Colonia,paraje san juan,9821
1,9837,Ciudad de MÃ©xico,Iztapalapa,Colonia,san miguel 8va. ampliaciÃ³n,9821
2,9838,Ciudad de MÃ©xico,Iztapalapa,Colonia,plan de iguala,9821
3,9839,Ciudad de MÃ©xico,Iztapalapa,Colonia,ampliaciÃ³n paraje san juan,9821
4,9839,Ciudad de MÃ©xico,Iztapalapa,Colonia,san juan joya,9821

In [12]:
from collections import Counter
def should_be_equal(word1, word2, per=0.4):
    s1 = word1.lower().replace(' ', '').replace('(', '').replace(')', '').replace('.','')
    s2 = word2.lower().replace(' ', '').replace('(', '').replace(')', '').replace('.','')
    max_len = max(len(s1), len(s2))
    sum_ = 0
    if s1[0] == s2[0]:
        for i in range(min(len(s1), len(s2))):
            if s1[i] == s2[i]:
                sum_ += 1
    #print(sum_, len(s1), len(s2), max_len, s1, s2, int(max_len*per))
    if max_len - sum_ <= int(max_len*per):
        return True 
    return False

In [13]:
s1 = 'barrio norte'
s2 = 'centro (Ã¡rea 5)'
should_be_equal(s1, s2)

False

In [14]:
found_col = dict()
for _, rowCol in colonias_df.iterrows():
    colonia = rowCol.colonia
    col_alcaldia = rowCol.alcaldia
    if colonia not in found_col:
        found_col[(colonia, col_alcaldia)] = []
    for _, row in cp_df.iterrows():
        asentamiento = row.Asentamiento
        cp = row.CP
        alcaldia = row.Municipio
        if should_be_equal(colonia, asentamiento) and len(col_alcaldia) == len(alcaldia):
            found_col[(colonia, col_alcaldia)].append((asentamiento, alcaldia, cp))

In [15]:
for _, row in colonias_df.iterrows():
    tup = (row.colonia, row.alcaldia)
    if tup in found_col.keys():
        if len(found_col[tup]) > 0:
            colonias_df.loc[colonias_df.colonia == row.colonia, 'cp'] = str(int(found_col[tup][0][2]))

In [16]:
colonias_df.loc[57	 , 'cp'] = '14250'
colonias_df.loc[191 , 'cp'] = '14250'
colonias_df.loc[38	 , 'cp'] = '11320'
colonias_df.loc[108 , 'cp'] = '11320'
colonias_df.loc[127 , 'cp'] = '16090'
colonias_df.loc[94	 , 'cp'] = '7960'
colonias_df.loc[64	 , 'cp'] = '15640'
colonias_df.loc[40	 , 'cp'] = '11800'
colonias_df.loc[121 , 'cp'] = '15000'
colonias_df.loc[47	 , 'cp'] = '13360'
colonias_df.loc[111 , 'cp'] = '13360'
colonias_df.loc[95	 , 'cp'] = '7140'
colonias_df.loc[100 , 'cp'] = '9910'
colonias_df.loc[158 , 'cp'] = '6200'
colonias_df.loc[63	 , 'cp'] = '15270'
colonias_df.loc[143 , 'cp'] = '3600'
colonias_df.loc[80	 , 'cp'] = '5219'
colonias_df.loc[162 , 'cp'] = '8100'
colonias_df.loc[56	 , 'cp'] = '14100'
colonias_df.loc[59	 , 'cp'] = '14100'
colonias_df.loc[61	 , 'cp'] = '14100'
colonias_df.loc[79	 , 'cp'] = '4369'
colonias_df.loc[10	 , 'cp'] = '4369'
colonias_df.loc[76	 , 'cp'] = '4369'
colonias_df.loc[146 , 'cp'] = '04369'
colonias_df.loc[13	 , 'cp'] = '04369'
colonias_df.loc[149 , 'cp'] = '04369'
colonias_df.loc[51	 , 'cp'] = '13099'
colonias_df.loc[42	 , 'cp'] = '12100'
colonias_df.loc[173 , 'cp'] = '10400'
colonias_df.loc[114 , 'cp'] = '13000'
colonias_df.loc[46	 , 'cp'] = '13310'
colonias_df.loc[43	 , 'cp'] = '12400'
colonias_df.loc[110 , 'cp'] = '12200'
colonias_df.loc[180 , 'cp'] = '13070'
colonias_df.loc[194 , 'cp'] = '16700'
colonias_df.loc[181 , 'cp'] = '13300'
colonias_df.loc[50	 , 'cp'] = '13420'
colonias_df.loc[140 , 'cp'] = '3310'
colonias_df.loc[199 , 'cp'] = '16029'
colonias_df.loc[129 , 'cp'] = '1090'
colonias_df.loc[184 , 'cp'] = '13300'

In [17]:
colonias_df.head()

,alcaldia,colonia,casos_activos,poblacion_total,porcentaje_activos,cp
0,alvaro obregon,barrio norte,57,14367.414210,0.2562,1410
1,alvaro obregon,jalalpa el grande,47,10972.245610,0.2112,1377
2,alvaro obregon,jardines del pedregal,39,13817.000000,0.1753,1900
3,alvaro obregon,merced gomez,48,6992.834615,0.2157,1600
4,alvaro obregon,olivar del conde 2da seccion ii,37,8191.441839,0.1663,1408

In [18]:
colonias_df.to_csv(data_path + 'colonias_prioritarias_clean.csv', index=False)

In [2]:
colonias_cdmx_df = pd.read_csv(data_path + 'colonias_prioritarias_clean.csv')
colonias_cdmx_df.shape

(200, 6)